.departmentsWarpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .departmentIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 30%;
    margin: 5px;
    font-size: 35px;
    font-weight: 700;
  }
}

.allDepartmentsWarpper {
  max-width: 500px;
  display: flex;
  margin: auto;
}