.eventWarpper {
  display: flex;
  margin: auto;
  width: 80%;
  min-width: 240px;
  max-width: 440px;
  display: flex;
  flex-direction: column;

  .titleWarpper {
    h1 {
      font-weight: bolder;
      margin: 10px 0px 10px 0px;
    }

  }

  h2 {
    font-weight: bold;
  }

  .metaInfoWarpper {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      margin-left: 6px;
    }

    .departmentsWarpper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 7px;
      .departments {
        display: flex;
        flex-direction: row;
        font-weight: 700;
      }
      ion-icon {
        color: #99a2aa;
      }
    }

    .categoryWarpper {
      color: #99a2aa;
      display: flex;
      flex-direction: row;
      align-items: center;

      .typeWarpper {
        display: flex;
        flex-direction: row;
      }

      .tagWarpper {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
      }
    }
  }

  .operationWarpper {
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
    margin: 10px 0px 15px 0px;

    .subscribeButtonWarpper {
      .subscribeButton {
        min-height: 2.1rem;
      }
    }

    .registerButtonWarpper {
      width: 90%;
      max-width: 400px;
      padding-right: 5px;

      .registerButton {
        width: 100%;
        min-height: 2.1rem;
        ion-icon {
          padding-right: 5px;
        }
      }
    }
  }

  .detailInfoWarpper {
    ion-icon {
      padding-right: 6px;
    }

    .infoLocationTitleWarpper {
      font-size: 14px;
      color: #99a2aa;
      line-height: 14px;
    }

    .infoLocationWarpper {
      font-size: 14px;
      margin-top: 5px;
      line-height: 14px;
      margin-bottom: 15px;
    }

    .infoTimeTitleWarpper {
      font-size: 14px;
      color: #99a2aa;
      line-height: 14px;
    }

    .infoTimeWarpper {
      font-size: 14px;
      line-height: 14px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .infoDescriptionTitleWarpper {
      font-size: 14px;
      color: #99a2aa;
      line-height: 14px;
    }

    .infoDescriptionWarpper {
      font-size: 14px;
      line-height: 21px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}