.eventWarpper {
  display: flex;
  margin: auto;
  width: 80%;
  min-width: 290px;
  max-width: 800px;
  h1 {
    font-weight: bolder;
  }

  h2 {
    font-weight: bold;
  }

  .detailInfoWarpper {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

    p {
      margin: 0;
      margin-left: 6px;
    }

    .typeWarpper {
      display: flex;
      flex-direction: row;
    }

    .tagWarpper {
      margin-left: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
    }

    .infoTimeTitleWarpper {
      font-size: 14px;
      color: #99a2aa;
      line-height: 14px;
      margin-right: 15px;
    }

    .infoLocationTitleWarpper {
      font-size: 14px;
      color: #99a2aa;
      line-height: 38px;
      margin-right: 15px;
    }

    .infoLocationWarpper {
      font-size: 14px;
      line-height: 38px;
    }

    .infoTimeWarpper {
      font-size: 14px;
      line-height: 14px;
    }

    .deparments {
      display: flex;
      flex-direction: row;

      p {
        margin: 0;
        margin-left: 6px;
      }
    }
  }

  .titleWarpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

ion-button[slot='fixed'] {
  bottom: 2%;
  width: 90%;
  max-width: 400px;
  margin: auto;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}