.meWarpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  .userProfileWarpper {
    max-width: 500px;
    width: 87vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    .userProfile__name {
      margin: auto;
    }
    .userProfileAvatar {
      border-radius: 50vw;
    }
  }
  .functionsWarpper, .logoutWarpper {
    max-width: 500px;
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    .functionIcon {
      padding-right: 15px;
    }
  }
}