.eventCard {
  max-width: 500px;
  width: 85vw;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;

  ion-card-header {
    padding-bottom: 10px;

    .oneLineTextOverflow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    ion-card-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 18px;
    }

    ion-card-subtitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      ion-icon {
        padding-right: 5px;
      }
    }
  }

  ion-card-content {
    padding-bottom: 5px;
    p {
      height: 40px;
      margin-bottom: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-Box-orient: vertical;
    }

    .categryWarpper {
      display: flex;
      flex-direction: row;

      p {
        height: 20px;
        margin: 0;
      }

      ion-icon {
        margin-right: 6px;
      }

      .typeWarpper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .tagWarpper {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .timeWarpper {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.stateWarpper {
  position: fixed;
  top: 8%;
  right: 15px;
  display: flex;
  align-items: center;
  color: var(--ion-color-step-550, #737373);
  font-size: 0.8rem;
  font-weight: 500;
  .stateCircle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--circle-color, #3498db);
    margin-left: 5px;
    margin-bottom: 2px;
  }
}