.eventCard {
  max-width: 900px;
  width: 75vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  .img {
    width: 100%;
    height: 32%;
    object-fit: cover;
  }
  ion-card-header {
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: medium;
  }
  ion-content {
    height: 60%;
    ion-card-content {
      padding-top: 2%;
      padding-bottom: 0%;
      height: 50px;
      font-size: small;
      ion-header {
        padding-top: 2%;
      }
      // ion-content {
      //   height: 60%;
      // }
      // .tagbox {
      //   display: flex;
      //   height: auto;
      // }
    }
  }
}