.eventCardListContainer {
  width: 100vw;
  padding: 0 min(1vw, 20px);

  .eventsContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
    
    @media screen and (min-width: 1601px) {
      column-count: 4;
    }
    @media screen and (min-width: 1051px) and (max-width: 1600px) {
      column-count: 3;
    }
    @media screen and (min-width: 500px) and (max-width: 1050px) {
      column-count: 2;
    }

    @media screen and (min-width: 300px) and (max-width: 499px) {
      column-count: 1;
    }
  }
}