.eventCard {
  max-width: 500px;
  width: 80vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  ion-card-header {
    padding-bottom: 5px;
    padding-top: 0px;
  }

  ion-card-content {
    padding-bottom: 5px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-Box-orient: vertical;
    }
    .categryWarpper {
      display: flex;
      flex-direction: row;
      p {
        margin: 0;
        margin-left: 6px;
      }
      .typeWarpper {
        display: flex;
        flex-direction: row;
      }
      .tagWarpper {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
      }
    }
  }
}