.eventCard {
  max-width: 500px;
  width: 90vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
  ion-card-header {
    padding-bottom: 5px;
    padding-top: 0px;

    ion-card-title,
    ion-card-subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ion-card-content {
    padding-bottom: 5px;
    p {
      height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-Box-orient: vertical;
    }

    .categryWarpper {
      display: flex;
      flex-direction: row;

      p {
        height: 20px;
        margin: 0;
        margin-left: 6px;
      }

      .typeWarpper {
        display: flex;
        flex-direction: row;
      }

      .tagWarpper {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
      }
    }
  }
}