.slideWarpper {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 95vw;
  max-width: 500px;
  border-radius: 1rem;
  height: 160px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  .slideImage {
    object-fit: cover !important;
    margin: auto !important;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}