/*
 * Optional CSS
 * -----------------------------------
 */

/* This sets a different background and item background in light mode on ios */
.ios body {
  --ion-toolbar-border-color: #fff;
  --ion-card-background: #fff;
  --ion-tab-bar-background: #fff;
  --ion-background-color: #e6e6e6;
  --ion-toolbar-background: #fff;
  --ion-item-background: #fff;
}

.ios body.dark {
  --ion-background-color: #4d4d4d;
  --ion-background-color-rgb: 77, 77, 77;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #262626;

  --ion-background-color: #4d4d4d;

  --ion-toolbar-background: var(--ion-color-step-200);

  --ion-toolbar-border-color: var(--ion-color-step-200);

  --ion-card-background: #262626;

  --ion-tab-bar-background: var(--ion-color-step-200);

  --ion-safe-area-top: 0;
}

/* This sets a different background and item background in light mode on md */
.md body {
  --ion-toolbar-border-color: #fff;
  --ion-card-background: #fff;
  --ion-tab-bar-background: #fff;
  --ion-background-color: #e6e6e6;
  --ion-toolbar-background: #fff;
  --ion-item-background: #fff;
}

.md body.dark {
  --ion-background-color: #4d4d4d;
  --ion-background-color-rgb: 77, 77, 77;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #262626;

  --ion-toolbar-background: var(--ion-color-step-200);

  --ion-toolbar-border-color: var(--ion-color-step-200);

  --ion-tab-bar-background: var(--ion-color-step-200);

  --ion-card-background: #262626;
}

/* This is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}